html {
    background-color: rgb(7, 12, 9);
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

h1 {
    margin: 5;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

#gameBoard {
    text-align: center;
}
#scoreText {
    font-family: "consolas", monospace;
    font-size: 100px;
}

#resetBtn {
    font-family: "Permanent Market", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px; 
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}